body{
margin:0;
background:black;
color:white;
font-family:Arial;
overflow:hidden;
}

canvas{
position:fixed;
inset:0;
z-index:-1;
}

.screen{
position:fixed;
inset:0;
display:none;
justify-content:center;
align-items:center;
flex-direction:column;
background:radial-gradient(#1e293b,black);
transition:1s;
}

.screen.active{display:flex;}

#titleScreen h1{
font-size:60px;
animation:pulse 2s infinite;
color:pink;
text-shadow: 0 0 15px #ff9fc3;
}

@keyframes pulse{
0%,100%{transform:scale(1);}
50%{transform:scale(1.05);}
}

button{
padding:12px 30px;
font-size:18px;
border:none;
border-radius:10px;
background:pink;
color:white;
cursor:pointer;
transition:0.3s;
}
button:hover{transform:scale(1.05);}

#gameScreen{
justify-content:flex-end;
}

#characters{
display:flex;
justify-content:space-between;
width:100%;
padding:40px;
font-size:140px;
}

.char{
transition:0.5s;
}

.blush{
filter: drop-shadow(0 0 25px pink);
transform: scale(1.1);
}

#dialogue{
background:rgba(0,0,0,0.85);
padding:20px;
width:100%;
font-size:20px;
border-top:2px solid pink;
}

#name{
color:pink;
font-weight:bold;
margin-bottom:8px;
}
